{% load static %}
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Posts</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    
    {% include 'nav.html' %}
    
    
    
    
{#    <form action="" method="post">#}
{#        {{ my_form }}#}
{#        {{ my_form.errors }}#}
{#        {{ my_form.person_name.errors }}#}
{#        {% csrf_token %}#}
{#        <button>Submit</button>#}
{#    </form>#}
    
    
{#    <div>#}
{#        <form action="/" method="post">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="person_name">#}
{#            <input type="number" name="age">#}
{#            <button>Submit</button>#}
{#            <input type="submit" value="Submit">#}
{#        </form>#}
{#    </div>#}
{#    <div class="container">#}
{#        <form method="post">#}
{#        <button>Submit</button>#}
{#        {% csrf_token %}#}
{#        </form>#}
{#    #}
{#    <h1>Hello User</h1>#}
{#    <h1>Current time is: {{ current_time }}</h1>#}
{#    <h1>AGE: {{ person.age }}</h1>#}
{#    <h1>ID num 1: {{ ids.1 }}</h1>#}
{#    <h1>ID filter join: {{ ids|join:',' }}</h1>#}
{#    <h1>some filtered text: {{ some_text|truncatewords:6 }}</h1>#}
{#    <h1>some chain filtered text: {{ some_text|slugify|capfirst }}</h1>#}
{#    <h1>some chain filtered text: {{ some_text2|default:"[Empty]" }}</h1>#}
{#    #}
{#    {%  if some_text2 == 'hi' %}#}
{#        <h1>{{ some_text2 }}</h1>#}
{#    {%  else %}#}
{#        <p>"No results"</p>#}
{#    {% endif %}#}
{#    #}
{#    <ol>#}
{#        {% for user in users %}#}
{#            <li>{{ user|capfirst|upper }}</li>#}
{#        {% endfor %}#}
{#    </ol>#}
{#    #}
{#    <ol>#}
{#        {% for user in users2 %}#}
{#            <li>{{ user|capfirst|upper }}</li>#}
{#        {% empty %}#}
{#            <p>No Users</p>#}
{#        {% endfor %}#}
{#    </ol>#}
{#    #}
{#    {% lorem 3 p %}    #}
{#        #}
{#    </div>#}
    
    
    
{#    <form action="/" method="post">#}
{#        {{ my_form.person_name }}#}
{#        {{ my_form.checkboxes }}#}
{#        {{ my_form.errors }}#}
{#        #}
{#        {% csrf_token %}#}
{#        <button>Submit</button>#}
{#    </form>#}
{#    <form action="/" method="get">#}
{#        {% csrf_token %}#}
{#        <input type="text" maxlength="10" name="person_name">#}
{#        <input type="number" name="age">#}
{#        <button>Submit</button>#}
{#        or#}
{#        <input type="submit" value="Submit" />#}
{#    </form>#}
</body>
    <script src='https://unpkg.com/akar-icons-fonts'></script>
</html>